<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>SmartWorkouts</title>
    @Styles.Render("~/Content/Workouts.css")
  
    <link rel="stylesheet" type="text/css" href="~/Content/Slick/slick.css" />

</head>
<body>
    <div class="container-fluid MainContainer ">
        @if (Session["Menu"] == null)
        {
            Session["Menu"] = Html.Partial("~/Views/Shared/_Menu.cshtml");
        }
        @Session["Menu"]
        <div class="container mb-5 mt-5">
            <div class="slider">
                <div class="slider__item">
                    <div class="card CardSlider" name="Legs" onclick="LoadWorkouts(this)">
                        <img src="~/Content/Images/ForSliderTypeWorkouts/ноги.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Ноги</h5>
                        </div>
                    </div>
                </div>
                <div class="slider__item">
                    <div class="card CardSlider" name="Hands" onclick="LoadWorkouts(this)">
                        <img src="~/Content/Images/ForSliderTypeWorkouts/руки.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Руки</h5>
                        </div>
                    </div>
                </div>

                <div class="slider__item">
                    <div class="card CardSlider" name="Back" onclick="LoadWorkouts(this)">
                        <img src="~/Content/Images/ForSliderTypeWorkouts/спина.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Спина</h5>
                        </div>
                    </div>
                </div>

                <div class="slider__item">
                    <div class="card CardSlider" name="Press" onclick="LoadWorkouts(this)">
                        <img src="~/Content/Images/ForSliderTypeWorkouts/пресс.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Пресс</h5>
                        </div>
                    </div>

                </div>

                <div class="slider__item">
                    <div class="card CardSlider" name="AllBody" onclick="LoadWorkouts(this)">
                        <img src="~/Content/Images/ForSliderTypeWorkouts/все тело.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Все тело</h5>
                        </div>
                    </div>

                </div>
                <div class="slider__item ">
                    <div class="card CardSlider" name="Breast" onclick="LoadWorkouts(this)">
                        <img src="~/Content/Images/ForSliderTypeWorkouts/грудь.jpg" class="card-img-top img-fluid" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">Грудь</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="ElementsWorkouts">
        </div>

    </div>
    <div class="modal fade  mr-0" id="ModalWorkout" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content ">
                <div class="modal-header  text-center">
                    <h5 class="modal-title" id="HeaderModelWorkout"></h5>
                    <button type="button" class="close" data-dismiss="modal" style="outline:none!important" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 class="text-center">Описание тренировки</h6>
                    <p id="ContentModalWorkout"></p>
                    <h6 class="text-center">Состав упражнений в тренировке</h6>
                    <div class="container" id="ExercisesWorkout"></div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/jquery-3.6.0.min.js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Scripts/Workouts.js"></script>
    @Scripts.Render("https://kit.fontawesome.com/b781c44b15.js")


</body>
</html>